<ng-container *ngIf="componentData">
  <div
    class="banner-wrapper"
    [ngStyle]="{
      'background-image': 'url(' + componentData?.backgroundImageUrl + ')'
    }"
  >
    <div class="media">
      <div class="media-item">
        <img
          *ngIf="componentData?.mobileMediaImageUrl"
          [ngClass]="componentData?.mobileMediaClasses"
          [src]="componentData?.mobileMediaImageUrl"
        />
        <img
          *ngIf="componentData?.desktopMediaImageUrl"
          [ngClass]="componentData?.desktopMediaClasses"
          [src]="componentData?.desktopMediaImageUrl"
        />
      </div>
      <div class="media-body">
        <div class="banner-content" [innerHTML]="componentData?.content"></div>
      </div>
    </div>
  </div>
</ng-container>
