<div class="container-fluid">
  <div class="wrapper">
    <div class="left">
      <div banner [componentData]="bannerData"></div>
      <form class="register-form" [formGroup]="forgotPasswordForm">
        <div class="email">
          <label for="email">E-mail</label><br />
          <input
            type="text"
            placeholder="Enter e-mail"
            id="email"
            name="email"
            formControlName="email"
          /><br />
        </div>
      </form>
      <div class="form-buttons">
        <button class="btn-continue" (click)="continue()">Continue</button>
        <button class="btn-cancel" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <div class="right">
      <img src="/assets/images/login-right.jpg" alt="Login" />
    </div>
  </div>
</div>
