@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.container-fluid {
  background: linear-gradient(135deg, #f7f7f7 50%, #fff 50%);
  padding: 10rem 0;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;

  .left {
    ::ng-deep [banner] {
      .banner-wrapper {
        @include media-breakpoint-up(md) {
          background-image: none !important;
        }
        background-repeat: no-repeat;
      }

      .media {
        display: flex;
        flex-direction: column;
        padding: 0.9375rem 0;

        .media-item {
          order: 2;
          @include media-breakpoint-up(md) {
            order: 1;
          }
        }

        .media-body {
          order: 1;
          @include media-breakpoint-up(md) {
            order: 2;
          }
        }
      }

      .banner-content {
        text-align: center;
        color: #fff;
        @include media-breakpoint-up(md) {
          color: #383c41;
        }
      }

      img {
        margin: 0 auto;
      }
    }
  }

  .right {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .register-form {
    padding: 0 2.5rem;
    margin-bottom: 2rem;
  }

  .form-buttons {
    padding: 0 2.5rem;

    button {
      font-size: 0.875rem !important;
      font-weight: bold;
      text-align: center;
      border-radius: 29px;
      width: 18.75rem;
      height: 3.75rem;
      display: block;
      @include media-breakpoint-up(md) {
        font-size: 1.125rem !important;
      }
    }

    .btn-continue {
      margin: 0 0 15px;
      background-color: #c8102e;
      color: #fff;
      border: none;
    }

    .btn-cancel {
      margin: 15px 0 0;
      background-color: #f7f7f7;
      color: #c8102e;
      border: solid 1px #c8102e;
    }
  }
}
