<div class="container-fluid">
  <div class="wrapper">
    <div class="left">
      <div banner [componentData]="bannerData"></div>
      <form class="login-form" [formGroup]="loginForm">
        <div class="email">
          <label for="email">E-mail</label><br />
          <input
            type="text"
            placeholder="Enter e-mail"
            id="email"
            name="email"
            formControlName="email"
          /><br />
        </div>
        <div class="password">
          <label for="password">Password</label><br />
          <input
            type="text"
            placeholder="Enter Password"
            id="password"
            name="password"
            formControlName="password"
          /><br />
        </div>
        <a
          class="link-forgot-your-password"
          [routerLink]="['/login/forgot-password']"
        >
          Forgot your password?
        </a>
      </form>
      <div class="form-buttons">
        <button class="btn-sign-in" (click)="login()">Sign in</button>
        <button class="btn-sign-up" (click)="register()">Sign up</button>
      </div>
      <div class="form-acceptances">
        <hr class="d-none d-md-block" />
        <span
          >By continuing, you agree to <br class="d-md-none" />
          <a href="http://rapsodo.com">Rapsodo's Terms of Use</a> and
          <a href="http://rapsodo.com">Privacy Policy</a>.</span
        >
      </div>
    </div>
    <div class="right">
      <img src="/assets/images/login-right.jpg" alt="Login" />
    </div>
  </div>
</div>
