/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 12px;

  ::placeholder {
    font-weight: 500;
    color: #bbbcbc;
  }
  label {
    color: #404040;
    font-weight: 600;
    margin-bottom: 0.625rem;
  }
  input {
    width: 18.75rem;
    height: 3rem;
    padding: 0.9375rem;
    border-radius: 6px;
    border: solid 1px #ededed;
    background-color: #fff;
  }
}
